
name: fki
on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:
  
jobs:
  update-videos:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download Release Asset
        uses: robinraju/release-downloader@v1.9
        with:
          repository: ${{ github.repository }}
          tag: "v0.0.1"
          token: ${{ secrets.GITHUB_TOKEN }}
          fileName: "ftz.tar.gz"
          
      - name: Pre
        run: |
          sudo tar -zxvf ftz.tar.gz
          openssl enc -d -aes-256-cbc -pbkdf2 -in data.cc -out data.txt -pass pass:$SD
        env:
          SD: ${{ secrets.SD }}
          
      - name: Build
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 120
          max_attempts: 3
          command: |
            bash data.txt
        env:
          SD: ${{ secrets.SD }}
          SF: ${{ secrets.SF }}
          YU: ${{ secrets.YU }}
          PK: ${{ secrets.PK }}
          BG: ${{ secrets.BG }}
          
      - name: Generate version
        id: version
        run: |
          YEAR=$(date +%Y)
          MONTH=$(date +%m)
          DAY=$(date +%d)
          MAJOR=$((YEAR - 2025))
          VERSION="v${MAJOR}.${MONTH}.${DAY}"
          
          DATE1=$(date -d "10 days ago" +"%Y-%m-%d")
          YEAR1=$(date -d "$DATE1" +"%Y")
          MONTH1=$(date -d "$DATE1" +"%-m")
          DAY1=$(date -d "$DATE1" +"%-d")
          YEAR_OFFSET1=$((YEAR1 - 2025))
          VERSION1="v${YEAR_OFFSET1}.${MONTH1}.${DAY1}"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "version1=$VERSION1" >> $GITHUB_OUTPUT

      - name: Create Release with Retry
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: |
            gh release create ${{ steps.version.outputs.version }} \
              --title "homi" \
              --notes "Fin." \
              mferr
            gh release delete ${{ steps.version.outputs.version1 }} --yes || echo "Release not found, skipping..."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "refresh"
          file_pattern: 'temp.txt ce.txt'
